.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.statusInput:global(.ui.input>input) {
  padding: 0;
}

.userImage:global(.ui.large.image) {
  display: inline-block;
  width: 2.5em;
  margin-right: 0.5em;
}

.statusEditBtn:global(.ui.basic.label) {
  border: none;
  padding: 0;
}