:global(.ui.basic.label).toolbarBtn {
  border: none;
  &.like:hover {
    color: green;
  }
  &.dislike:hover {
    color: red;
  }
  &.comment:hover {
    color: blue;
  }
  &.share:hover {
    color: purple;
  }
}
